@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
}

@media (width >= 48rem) {
  body {
    overflow: hidden;
  }
}

@font-face {
  font-family: "Patrick Hand SC";
  src: url("./assets/fonts/PatrickHandSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("./assets/fonts/PTSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ptSans {
  font-family: "PT Sans", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: "Patrick Hand SC", cursive;
  background-color: #d44d5c;
  transition: background-color 1s ease, filter 1s ease;
  color: #0c0016;
}

.timer-text {
  font-size: clamp(4rem, 10vw, 6rem);
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent; /* no track visible */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* white but very transparent */
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.35); /* slightly stronger on hover */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
